.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem,1fr));
    gap: 1rem;
    margin: 12rem 10%;
}

.card{
    justify-content: center;
    background-color: white;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.card img{
    height: 100%;
    object-fit: contain;
    width: 100%;
}


.produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

.fora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.6rem;
}

.fora p, .fora span{
    font-size:  1.6rem;
    text-align: center;
}

.fora p{
    color: #484848;
}

.fora span{
    font-weight: 600;
}

@media screen and (max-width:500px) {
    .container{
        grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
    }
}